.contactBlock {
    background-color: #a9ff94;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #c6c6fc;
}

.contactForm {
    width: 60%;
    background-color: #a9ff94;
    display: flex;
    flex-direction: column;
}

.contactForm input, .contactForm textarea{
    width: 100%;
}

.feedbackTitle {
    background-color: yellow;
}


.button {
    width: 50px;
    height: 35px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 499px){
    .contactForm {
        width: 100%;
    }
}

