@import "src/Common/Styles/Sass/variables";

.title {
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  background: $colorGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 35px;
  line-height: 1.1;
  letter-spacing: 0.4px;
  font-weight: 700;
  text-transform: uppercase;

  & h2 {
    margin: 0;
  }
}

