.project {
    width: 250px;
    background-color: #d0caca;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    width: 100%;
    height: 200px;
    background-color: #e88f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    background-color: #8ef2ff;
}

.buttonShow {
background-color: yellow;
}

.description{
    background-color: #8ef2ff;
}