$textColor: #eaeaea;
$primaryColor: #02cfb4;
$bgColor: #22252c;
$bgSecondColor: #313741;
$bgThirdColor: #333333;
$colorGradient: -webkit-linear-gradient(left, #00f298, #07f7f7);
$fontFamilyText: 'Open Sans', sans-serif;