.footerBlock {
    background-color: #cf94ff;
padding: 50px 0;
}

.footerContainer {
    flex-direction: column;
    justify-content: center;

}

.footerTitle {
    background-color: gold;
}

.info {
    background-color: #a9ff94;
}

.footer {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.copyright {
    background-color: #fad8f7;
    min-width: 360px;
    border: 1px solid;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
}